body
{
    background:white;
    color:#333;
}

header
{
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    font-size:40px;
    margin-top:40px;
    
    .subHeader
    {
        font-size:14px;
        color:#777;
        
        a
        {
            color:#77F;   
        }
    }
}

main
{
    position:absolute;
    
    $width:600px;
    width:$width;
    left:50%;
    margin-left:-300px;
    margin-top:20px;
    
    font-family: 'Lato', sans-serif;
    font-size:16px;
    line-height:25px;
    text-align:justify;
    font-weight: 400; 
    color:#555;
}